<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.StringConVendas" connectionString="Data Source=tcp:192.168.3.41\ORNELASTEC,49500;Initial Catalog=VendasOficina;User ID=OficinaUser;Password=oficinadoesculacho"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.StringConOficina" connectionString="Data Source=tcp:192.168.3.41\ORNELASTEC,49500;Initial Catalog=OficinaApp;User ID=OficinaUser;Password=oficinadoesculacho"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>