<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.StringConVendas" connectionString="Data Source=tcp:192.168.3.19\ORNELASTEC,49500;DataBase=VendasOficina; User Id=OficinaUser ; Password = oficinadoesculacho"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.StringConOficina" connectionString="Data Source=tcp:192.168.3.19\ORNELASTEC,49500;DataBase=OficinaApp; User Id=OficinaUser ; Password = oficinadoesculacho" />
    </connectionStrings>
</configuration>