<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.StringConVendas" connectionString="Data Source=tcp:DESKTOP-JDPDNB3\SQLEXPRESS,49500;Initial Catalog=VendasOficina;User ID=OficinaUser;Password=babylu13"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.StringConOficina" connectionString="Data Source=tcp:DESKTOP-JDPDNB3\SQLEXPRESS,49500;DataBase=OficinaApp; User Id=OficinaUser ; Password = babylu13;" />
    </connectionStrings>
</configuration>